{% extends 'registration/base.html' %}

{% block content %}
<div class="container box-center" xmlns="http://www.w3.org/1999/html">
    <form action="{% url 'django.contrib.auth.views.login' %}" method="post">
        {% csrf_token %}

        <div class="form-group">
            <label for="username">Username: </label>
            <span class="input-lg">{{ form.username }}</span>
        </div>
        <div class="form-group">
            <label for="category">Password: </label>
            <span class="input-lg">{{ form.password }}</span>
        </div>
        <div class="form-group">
            <tr><input type="submit" class="btn btn-primary btn-lg form_button" value="Login" />
            <input type="hidden" name="next" value="{{ next }}" />
        </div>
    </form>
    <a class="forgot text-center" href="password_change_form.html"><p class="text-primary">forgot your password?</p></a>
</div>

{% if form.errors %}
    <h4 class="text-danger text-center">Authentication error</h4>
{% endif %}

{% endblock %}