{% extends 'web_shop/base.html' %}

{% block content %}

<h2 class="page-header text-info">Login to access your account</h2>
<div class="container box-center">
    <form action="{% url 'django.contrib.auth.views.login' %}" method="post">
        {% csrf_token %}

        <div class="form-group">
            <label for="username">Username: </label>
            <span class="input-lg">{{ form.username }}</span>
        </div>
        <div class="form-group">
            <label for="category">Password: </label>
            <span class="input-lg">{{ form.password }}</span>
        </div>
        <div class="form-group">
            <tr><input type="submit" class="btn btn-primary form_button" value="Login" />
            <input type="hidden" name="next" value="{{ next }}" />
        </div>
    </form>

    <a class="text-center register" href="/accounts/signup"><h5 class="text-primary">Register for free</h5></a>

</div>

{% if form.errors %}
    <h4 class="text-danger text-center">Authentication error</h4>
{% endif %}

{% endblock %}