{% extends "accounts/base.html" %}

{% block content %}

<form action="" method="post">
  {% csrf_token %}
    <div class="form-group">
        <label>First name: </label><br> {{ form.first_name }}
    </div>
    <div class="form-group">
        <label>Last name: </label><br> {{ form.last_name }}
    </div>
    <div class="form-group">
        <label for="username">Username: </label><br> {{ form.username }}
    </div>
    <div class="form-group">
        <label for="email1">Email: </label><br> {{ form.email1 }}  {{ form.email1.errors }}
    </div>
    <div class="form-group">
        <label for="email2">Confirm email: </label><br> {{ form.email2 }}  {{ form.email2.errors }}
    </div>
    <div class="form-group">
        <label for="password1">Password: </label><br> {{ form.password1 }}  {{ form.password1.errors }}
    </div>
    <div class="form-group">
        <label for="password2"> Confirm password: </label><br> {{ form.password2 }}  {{ form.password2.errors }}
    </div>
  <p><input type="submit" class="btn btn-primary"value="Signup" /></p>
</form>

{% endblock %}