body {
  background-color: #d58512;
  padding-left: 30px;
  padding-right: 30px;
  form {
    input#id_name {
      width: 200px;
    }
    select#id_category {
      height: 25px;
      min-width: 80px;
    }
    div#image-holder {
      width: 200px;
      height: 200px;
      border: solid 1px;
    }
  }

}
