body {
  margin: 70px 30px 60px 30px;
}
body h1,
body h2,
body h3 {
  color: #444444;
}
body .cog {
  font-size: 1.3em;
}
body .logo {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
body .popover {
  width: 150px;
}
body .page-header {
  margin-top: 10px;
}
body footer {
  width: 100%;
  height: 40px;
  background-color: #000000;
}
body .image-height {
  max-height: 400px;
}
body .on_stock {
  position: relative;
  color: #009900;
  display: inline;
}
body .image {
  padding: 30px;
  margin: 10px;
  width: 200px;
  height: 200px;
  float: left;
}
body .thumbnail-fixed {
  width: 200px;
  float: left;
  margin-right: 10px;
}
body .copyright {
  margin-top: 15px;
}
body .condition {
  font-weight: bold;
  color: #aa0000;
}
body .no-style {
  text-decoration: none;
}
.img-thumbnail {
  min-width: 120px;
}
.price {
  color: #aa0000;
  font-family: Arial;
  font-weight: bold;
}
#description {
  max-width: 550px;
}
.search {
  border-radius: 0;
  width: 160px;
}
.search-button {
  border-radius: 0;
}
.navbar-fixed-top {
  width: auto;
  height: auto;
}
.glyphicon-euro {
  color: #aa0000;
  font-family: Arial;
}
form select#id_category {
  height: 25px;
  min-width: 80px;
}
form div#image-holder {
  width: 200px;
  height: 200px;
  border: solid 1px;
}
form .glyphicon-euro {
  font-size: 1px;
}
/* Large desktop */
@media (min-width: 1200px) {
  
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  body {
    font-size: 1.2em;
  }
  nav {
    font-size: 1.4em;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  body {
    font-size: 1.2em;
  }
  nav {
    font-size: 1.3em;
  }
}
