body {
  margin: 70px 30px 60px 30px;
}
body form .form-control {
  border: none;
  box-shadow: none;
}
body form .help-text {
  font-size: 0.8em;
  text-align: center;
}
@media (min-width: 1200px) {
  .warning li {
    list-style: none;
    text-decoration: none;
    margin-left: 250px;
  }
  .register {
    position: relative;
    left: 26%;
    top: -30px;
  }
  .login-button {
    position: relative;
    left: 25%;
  }
  .error {
    position: relative;
    left: 30.2%;
    top: -40px;
  }
}
@media (max-width: 1200px) {
  .warning li {
    list-style: none;
    text-decoration: none;
    margin-left: 200px;
  }
  .register {
    position: relative;
    left: 26%;
    top: -30px;
  }
  .login-button {
    position: relative;
    left: 25%;
  }
  .error {
    position: relative;
    left: 31%;
    top: -40px;
  }
}
@media (max-width: 991px) {
  .warning li {
    list-style: none;
    text-decoration: none;
    margin-left: 150px;
  }
  .register {
    position: relative;
    left: 27%;
    top: 0;
  }
  .login-button {
    position: relative;
    left: 25%;
  }
  .error {
    position: relative;
    left: 30%;
    top: -15px;
  }
}
@media (max-width: 767px) {
  .warning li {
    list-style: none;
    text-decoration: none;
    margin-left: -20px;
  }
  .register {
    position: relative;
    left: 20px;
    top: 0;
  }
  .login-button {
    position: relative;
    left: 13px;
  }
  .error {
    position: relative;
    left: 50px;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .warning li {
    list-style: none;
    text-decoration: none;
    margin-left: -20px;
  }
  .register {
    position: relative;
    left: 20px;
    top: 0;
  }
  .login-button {
    position: relative;
    left: 13px;
  }
  .error {
    position: relative;
    left: 50px;
  }
}
