body {
  margin: 80px 30px 60px 30px;
  position: relative;
}
h1,
h2,
h3 {
  color: #444444;
}
.thumbnail-fixed {
  padding: 20px;
  max-width: 200px;
  float: left;
  margin-right: 10px;
}
.success {
  text-align: center;
  max-width: 230px;
  margin-right: auto;
  margin-left: auto;
  background-color: #5cb85c;
  padding: 5px 10px 5px 10px;
  color: #ffffff;
  border-radius: 4px;
}
.search {
  width: 160px;
}
#basic-tooltip {
  width: 40px;
}
.thumbnail {
  float: left;
  width: auto;
}
.message-li {
  list-style: none;
  font-size: 0.8em;
}
.pagination {
  position: relative;
  bottom: 0px;
  margin-left: 5%;
}
.price {
  color: #aa0000;
  font-family: Arial;
  font-weight: bold;
}
.button {
  margin-top: 10px;
}
#add {
  float: right;
  margin-right: 20px;
  margin-top: 35px;
}
.username {
  margin-top: 15px;
  color: #ffffff;
}
.wrapper {
  margin-left: auto;
  margin-right: auto;
}
.image {
  max-height: 220px;
  max-width: 150px;
}
.box-view {
  position: relative;
  max-width: 300px;
  min-height: 200px;
  height: 400px;
  margin-left: 20px;
  padding-bottom: 10px;
  float: left;
}
.box-view .items {
  position: absolute;
  bottom: 10px;
  max-width: 200px;
}
.box-view h3,
.box-view h4 {
  font-size: 1em;
}
/* Large desktop */
@media (max-width: 1200px) {
  .thumbnail-fixed {
    width: 30%;
    float: left;
    margin-right: 10px;
  }
}
/* Portrait tablet to landscape and desktop */
@media (max-width: 979px) {
  .thumbnail-fixed {
    width: 40%;
    float: left;
    margin-right: 10px;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .thumbnail-fixed {
    width: 70%;
    float: left;
    margin-right: 10px;
  }
  .search {
    display: inline;
  }
  .search-button {
    display: inline;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .thumbnail-fixed {
    width: 100%;
    float: left;
    margin-right: 10px;
  }
}
