body {
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 80px 30px 80px 30px;
  position: relative;
}
h1,
h2,
h3 {
  color: #444444;
}
.thumbnail-fixed {
  padding: 20px;
  max-width: 200px;
  float: left;
  margin-right: 10px;
}
.success {
  text-align: center;
  max-width: 230px;
  margin-right: auto;
  margin-left: auto;
  background-color: #5cb85c;
  padding: 5px 10px 5px 10px;
  color: #ffffff;
  border-radius: 4px;
}
.search {
  width: 160px;
}
#basic-tooltip {
  width: 40px;
}
.btn-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.on_stock {
  position: relative;
  color: #009900;
  display: inline;
}
.popover {
  width: 140px;
  text-align: center;
}
.thumbnail {
  float: left;
  width: auto;
}
.message-li {
  list-style: none;
  font-size: 0.8em;
}
.pagination {
  position: relative;
  bottom: 0px;
  margin-left: 5%;
}
.price {
  color: #aa0000;
  font-family: Arial;
  font-weight: bold;
}
.button {
  margin-top: 10px;
}
.form-control {
  border: none;
}
#add {
  float: right;
  margin-right: 20px;
  margin-top: 35px;
}
.username {
  margin-top: 15px;
  color: #ffffff;
}
.wrapper {
  margin-left: auto;
  margin-right: auto;
}
.image {
  max-height: 220px;
  max-width: 150px;
}
.box-view {
  position: relative;
  max-width: 300px;
  min-height: 200px;
  height: 400px;
  margin-left: 20px;
  padding-bottom: 10px;
  float: left;
}
.box-view .items {
  position: absolute;
  bottom: 10px;
  max-width: 200px;
}
.box-view h3,
.box-view h4 {
  font-size: 1em;
}
#id_number,
#id_door {
  width: 35px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
form#update .form-group .form-control {
  background: none;
  box-shadow: none;
}
form#update .form-group .control-label {
  margin-left: 11px;
}
form#update .form-group #id_condition {
  height: 25px;
}
form#update .form-group #choose-image {
  width: 350px;
}
form#update .form-group input#id_image {
  margin-top: 5px;
  display: inline;
}
form#update .form-group textarea#id_description {
  padding: 10px;
}
form#update .form-group #update-button {
  margin-left: 10px;
}
#product-update-box {
  margin-top: 30px;
  padding: 4px 25px 20px 25px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15), 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 94.8%, transparent 75%);
  background-size: 5px 100%;
}
#user-update-form .form-group {
  margin-top: 20px;
}
#user-update-form .form-group .form-control {
  display: inline;
  background: none;
  box-shadow: none;
  width: 280px;
}
.inline {
  display: inline;
  padding-bottom: 10px;
}
#user-update-box {
  margin-top: 30px;
  padding: 4px 25px 20px 25px;
  max-width: 400px;
  min-width: 324px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15), 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 92.4%, transparent 75%);
  background-size: 5px 100%;
}
/* Large desktop */
@media (max-width: 1200px) {
  .thumbnail-fixed {
    width: 30%;
    float: left;
    margin-right: 10px;
  }
}
/* Portrait tablet to landscape and desktop */
@media (max-width: 979px) {
  .thumbnail-fixed {
    width: 40%;
    float: left;
    margin-right: 10px;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .thumbnail-fixed {
    width: 70%;
    float: left;
    margin-right: 10px;
  }
  .search {
    display: inline;
  }
  .search-button {
    display: inline;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .thumbnail-fixed {
    width: 100%;
    float: left;
    margin-right: 10px;
  }
}
