{% extends 'web_shop/base.html' %}


{% block dropdown %}
    <ul class="dropdown-menu">
        {% for category in category_list %}
            {% if  category %}
                <li><a href="/category/{{ category.name }}">{{ category.name|capfirst }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
    {% block search %}
        <ul id="search-results"></ul>  <!-- search results will appear here -->
    {% endblock %}
    <div class="page-header">
        <h2 class="text-info header">{{ title|capfirst }}</h2>
    </div>
    <div class="container">
        {% for product in product_list %}
            <div class="container">
                <a class="no-style" href="{{ product.get_absolute_url_1 }}"><h4 class="text-info modal-title"><span class="condition price">{{ product.condition|capfirst }}</span> {{ product.title }}</h4></a>
                <h4><span class="price">€ {{ product.price }}</span></h4>
                <span class=""><h4>{{ product.name }}</h4></span>
                {% if product.image %}
                    <a href="{{ product.get_absolute_url_1 }}"> <img class="img-thumbnail image-height" src="{{ product.image.url }}" width="200"></a>
                {% endif %}

                <a class="no-style" href="{{ product.get_absolute_url_1 }}"> <h5>Details</h5></a>
            </div>
            <hr>
        {% endfor %}
    </div>

    {% block pagination %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% endif %}
            <li><a>Page {{ page_obj.number }} of {{ paginator.num_pages }}</a></li>
            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% endif %}
        </ul>
    {% endblock %}
{% endblock %}