{% extends 'web_shop/base.html' %}


{% block content %}
    <div class="page-header">
        <h2 class="text-info">{{ title }}</h2>
    </div>
    <div class="container">
        <h4>A confirmation email has being sent to you with farther details on payment information.</h4>
        <div class="btn-group">
            <a href="/market"><button class="btn btn-primary">Keep on Shoping</button></a>
        </div>
        <h3 class="text-info"> {{ product.title }}</h3>
        <h4 class="text-info">{{ product.name }}</h4>
        {% if product.image %}
            <img class="img-responsive" src="{{ product.image.url }}" width="300"><br><br><br>
        {% endif %}

        <h4 class="price">Sold for €{{ product.price }}</h4>
        <p class="text-muted">By <span class="text-info">{{ product.saler }}</span><br>

        <h5>Shipping method: {{ product.shipping_method|capfirst }}</h5>
        <h5>Shipping cost: {{ product.shipping_cost }}</h5>
{% endblock %}