{% extends 'web_shop/base.html' %}


{% block content %}
     <div class="container">
        <h3 class="text-info">{{ product.name }}</h3><br>
        <img src="{{ product.image.url }}" width="400"><br><br><br>
        <div class="btn-group">
            <button class="btn btn-sm btn-danger" value="">buy Article</button>
        </div>
         <br><br>
        <div id="description" class="row">
            <p class="text-muted">{{ product.description }}</p>
        </div>
    </div>


{% endblock %}