{% extends 'web_shop/base.html' %}

{% block dropdown %}
    <ul class="dropdown-menu">
    {% for category in category_list %}
        <li><a href="#">{{ category.name }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}

{% block content %}
     <div class="container">
        <h3 class="text-info">{{ product.name }}</h3><br>
         {% if product.image %}
            <img class="img-responsive" src="{{ product.image.url }}" width="300"><br><br><br>
            <h4 class="price">€ {{ product.price }}</h4>
         {% endif %}
         <p class="text-muted">On sale by <span class="text-info">{{ product.saler }}</span></p>
        <div class="btn-group">
            <button class="btn btn-sm btn-danger" value="">buy Article</button>
        </div>
        <div class="btn-group">
            <button class="btn btn-sm btn-info" value="">Mode Details</button>
        </div>
         <br><br>
        <div id="description" class="row">
            <p class="text-muted">{{ product.description }}</p>
        </div>
    </div>


{% endblock %}