{% extends 'web_shop/base.html' %}
{% load staticfiles %}


{% for category in category_list %}
    {% if category %}
        <li xmlns="http://www.w3.org/1999/html"><a href="/category/{{ category.slug }}">{{ category.name|capfirst }}</a></li>
    {% endif %}
{% endfor %}

{% block content %}
    {% block search %}
        <div class="search-block">
            <ul id="search-results"></ul>  <!-- search results will appear here -->
        </div>
    {% endblock %}
    <div class="one col-xs-12 col-sm-12 col-md-12">
        <div class="page-header"></div>
        <div class="container">
            <div id="slider" class="carousel slide">
                <div class="carousel-inner">
                    <div class="item active">
                       <a href="/category/video games/"><img src="{% static 'img/games.png' %}" width="990"></a>
                        <div class="carousel-caption">
                            <a class="no-style" href="/category/video games/"><h3>A world of games awaiting for you</h3></a>
                        </div>
                    </div>
                    <div class="item">
                        <a class="no-style" href="/market/super-mario-3d-land-8/"><img src="{% static 'img/mario_dude.jpg' %}" width="990"></a>
                        <div class="carousel-caption">
                            <a class="no-style" href="/market/super-mario-3d-land-8/"><h3>We got this dude too!</h3></a>
                        </div>
                    </div>
                    <div class="item">
                        <a href="/category/audio/"><img src="{% static 'img/audio_2.jpg' %}" width="990"></a>
                        <div class="carousel-caption">
                            <a class="no-style" href="/category/audio/"><h3>Get the latest in audio accessories</h3></a>
                        </div>
                    </div>
                </div>
                <a class="carousel-control left" href="#slider" data-slide="prev"></a>
                <a class="carousel-control right" href="#slider" data-slide="next"></a>
            </div>
         </div>
    </div>
    <div class="two col-xs-12 col-sm-6 col-md-6">
        <div class="page-header"></div>
        <div class="jumbotron">
            <h2>Welcome to Shop it!</h2>
            <p>Shopit was developed to satisfy the needs of our users, become part of the fastest growing market on campus Joanneum</p>
            <a href="/accounts/signup/"><button class="btn btn-primary">Become a member</button></a>
        </div>
    </div>
    <div class="three col-xs-12 col-sm-6 col-md-6">
        <div class="page-header"></div>
        <div class="jumbotron">
            <h2>Simplicity!</h2>
            <p>Simplicity is what make us different!
            In contrast to our competitors we provide a better user experience.</p>
        </div>
    </div>
{% endblock %}