{% extends 'web_shop/base.html' %}
{% load category_tags %}


{% block dropdown %}
    <ul class="dropdown-menu">
        {% for category in category_list %}
            {% if  category %}
                <li><a href="/category/{{ category.name }}">{{ category.name|capfirst }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h2 class="text-info header">Market Place</h2>
    </div>

    <div class="container">
        <div class="container">
            <div class="container">
                {% for category in category_list %}
                    {% if  category %}
                        <div class="image">
                            <a href="/category/{{ category.name }}"><h5 class="text-center">{{ category.name|capfirst }}</h5></a>
                            <a href="/category/{{ category.name }}"><img class=" img-responsive" src="{{ BASE_DIR }}/media/{{ category.thumbnail }}" width="200"></a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}