{% extends 'web_shop/base.html' %}
{% load category_tags %}


{% block title %} {{ title }} {% endblock %}

{% block dropdown %}
    <ul class="dropdown-menu">
    {% for category in category_list %}
         {% if  category.parent  %}
        <li><a href="/category/{{ category.parent }}">{{ category.parent }}</a></li>
         {% endif %}
    {% endfor %}
    </ul>
{% endblock %}

{% block content %}
<div class="page-header">
    <h2 class="text-info">Market Place</h2>
</div>

    {% for category in category_list %}
        {% if  category.parent  %}
            <a href="/category/{{ category.parent }}"><p>{{ category.parent }}</p></a>

        {% endif %}
    {% endfor %}


{% endblock %}






