{% extends 'web_shop/base.html' %}

{% block dropdown %}
    <ul class="dropdown-menu">
    {% for category in category_list %}
        <li><a href="/category/{{ category.name }}">{{ category.name }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}

{% block content %}
   <div class="container">
{% for product in object_list %}
    <hr>
    <div class="container">
        <a class="no-style" href="{{ product.get_absolute_url }}"> <h3 class="text-info modal-title">{{ product.title }}</h3></a>
        <span class="price">€ {{ product.price }}</span>
        <span class=""><h4>{{ product.name }}</h4></span>
        {% if product.image %}
            <a href="{{ product.get_absolute_url }}"> <img class="img-thumbnail" src="{{ product.image.url }}" width="200"></a>
        {% endif %}
        <a class="no-style" href="{{ product.get_absolute_url }}"> <h5>Details</h5></a>
    </div>
{% endfor %}
    <hr>
</div>
{% endblock %}