{% extends 'web_shop/base.html' %}

{% block dropdown %}
    <ul class="dropdown-menu">
        {% for category in category_list %}
            {% if category.parent %}
                <li><a href="/category/{{ category.parent }}">{{ category.parent }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
    <div class="page-header"><h2 class="text-info">{{ title }}</h2></div>

        {% for category in category_list %}
            {% if category.parent == title %}
                <a href="{{ category.name }}"> <p>{{ category.name }}</p></a>
            {% endif %}
        {% endfor %}
{% endblock %}