{% extends 'dashboard/base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block username %}
<li class="username hidden-xs">hello {{ user.username|capfirst }}</li>
    <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span></a>
    {% block dropdown %}
        <ul class="dropdown-menu">
            <li><a href="/accounts/logout/">Logout</a></li>
        </ul>
    </li>
    {% endblock %}
{% endblock %}

{% block content %}
<div class="container">
<button id="add" class="button btn btn-primary" data-toggle="modal" data-target="#add_product">Add Product</button>
    <h3 class="page-header text-info">Actions</h3>

    {% for product in product_list %}
    <div class="container box-view col-sm-12 col-xs-12">
    <div class="items">
        <a class="no-style" href="{{ product.get_absolute_url }}"> <h3 class="text-info modal-title">{{ product.title }}</h3></a>
        <span class="price">€ {{ product.price }}</span> <span class="condition price">{{ product.condition }}</span>
        <span class=""><h4>{{ product.name }}</h4></span>
        {% if product.image %}
            <a href="{{ product.get_absolute_url }}"> <img class="img-thumbnail img-responsive" src="{{ product.image.url }}" width="200"></a>
        {% endif %}
        <a class="no-style" href="{{ product.get_absolute_url }}"> <h5>Details</h5></a>
        <a href="update/{{ product.id }}"><button class="button btn btn-sm btn-info">Edit Product</button></a>
        <a href="delete/{{ product.id }}"><button class="button btn btn-sm btn-danger">Remove Product</button></a>
    </div>
    </div>
    {% endfor %}
</div>


<div class="modal fade" id="add_product" tabindex="-1" role="dialog" aria-labelledby="modal_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title text-info" id="modal_label">Add a new product</h4>
      </div>
      <div class="modal-body">
        {% block form %}
        <form enctype="multipart/form-data" method="post" action="{% url 'dashboard' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Title: </label>
                <span class="">{{ form.title }}</span>
            </div>
            <div class="form-group">
                <label for="name">Product name: </label>
                <span class="">{{ form.name }}</span>
            </div>
            <div class="form-group">
                <label for="name">Condition: </label>
                <span class="">{{ form.condition }}</span>
            </div>
            <div class="form-group">
                <label for="name">Quantity: </label>
                <span class="">{{ form.quantity }}</span>
            </div>
            <div class="form-group">
                <label for="name">Price: </label>
                <span class="price">{{ form.price }}</span>
            </div>
            <div class="form-group">
                <label for="description">Description: </label><br>
                <span class="">{{ form.description }}</span>
            </div>
            <div class="form-group">
                <label for="category">Choose a Category: </label>
                <span class="">{{ form.category }}</span>
            </div>
            <div class="form-group">
                <label for="image">Add an Image:</label>
                <span class="">{{ form.image }}</span>
            </div>
            <input type="submit" class="btn btn-primary" value="Add Product">
        </form>
        {% endblock %}
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>

<ul class="pagination">
    {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% endif %}
        <li><a>Page {{ page_obj.number }} of {{ paginator.num_pages }}</a></li>
    {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% endif %}
</ul>


{% endblock %}

{#Page {{ page_obj.number }} of {{ paginator.num_pages }}.#}