{% extends 'web_shop/base.html' %}

{% block content %}
    <h1>Product</h1>
    <form enctype="multipart/form-data" method="post" action="">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Title: </label>
            <span class="">{{ product.title }}</span>
        </div>

        <div class="form-group">
            <label for="name">Product name: </label>
            <span class="">{{ product.name }}</span>
        </div>
         <div class="form-group">
            <label for="name">Condition: </label>
            <span class="">{{ product.condition }}</span>
        </div>
        <div class="form-group">
            <label for="name">Quantity: </label>
            <span class="">{{ product.quantity }}</span>
        </div>
         <div class="form-group">
            <label for="name">Price: </label>
            <span class="">{{ product.price }}</span>
        </div>
        <div class="form-group">
            <label for="description">Description: </label><br>
            <span class="">{{ product.description }}</span>
        </div>
        <div class="form-group">
            <label for="category">Choose a Category: </label>
            <span class="">{{ product.category }}</span>
        </div>
        <div class="form-group">
            <label for="image">Add an Image:</label>
            <span class="">{{ product.image }}</span>
        </div>
        <input type="submit" class="btn btn-primary" value="Add Product">
    </form>
{% endblock %}#}