{% extends 'dashboard/base.html' %}
{% load staticfiles %}
{% block title %} {{ title }} {% endblock %}

{% block username %}
    <li class="username hidden-xs">hello {{ user.username|capfirst }}</li>
    <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span></a>
    {% block dropdown %}
        <ul class="dropdown-menu">
            <li><a href="/accounts/logout/">Logout</a></li>
        </ul>
    </li>
    {% endblock %}
{% endblock %}

{% block content %}
    <div class="page-header">
        <h2 class="text-info">{{ title }}</h2>
    </div>
    <!-- Need to make this part of code interactive -->
    <div class="jumbotron">
        <h2>Welcome {{ user.username }},</h2>
        <p>This is your control panel, from here you can take actions on your items</p>
        <a href="/dashboard/actions/{{ user.username }}"><button class="btn btn-primary">Take me to actions</button></a>
    </div>

    <h2>Recent sold items</h2>
    <div class="jumbotron">
        <div class="row">
            <div class="thumbnail-fixed thumbnail">
                <img class="" src="{% static 'img/canon.jpg' %}" width="150">
                <div class="caption">
                    <h3 class="text-center">Canon rebel</h3>
                    <p class="text-center">details of saled product</p>
                </div>
            </div>
            <div class="thumbnail-fixed thumbnail">
                <img class="" src="{% static 'img/controller_one.jpg' %}" width="190">
                <div class="caption">
                    <h3 class="text-center">Xbox One controller</h3>
                    <p class="text-center">details of saled product</p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

