{% extends 'dashboard/base.html' %}
{% load staticfiles %}
{% block title %} {{ title }} {% endblock %}

{% block content %}

    <div class="page-header">
        <h2 class="text-info">{{ title }}</h2>
    </div>

    {% for message in messages %}
        <p class="{{ message.tags }}">{{ message }}</p>
    {% endfor %}

    <!-- Need to make this part of code interactive -->
    <div class="jumbotron">
        <h2>Welcome {{ user.username }}</h2>
        <p>This is your control panel, from here you can take actions on your items.</p>
        <a href="/dashboard/actions/{{ user.username }}"><button class="btn btn-primary">Take me to actions</button></a>
    </div>


        <h2>Notifications</h2>
        <div class="jumbotron">
            <div class="row">
            {% if notifications.count > 0 %}
                <div class="thumbnail-fixed thumbnail">
                    {% for notification in notifications %}
                        <p><a href="/notifications/show/{{ notification.id }}">{{ notification.title }}</a> </p>
                    {% endfor %}
                </div>
            {% else %}
                <p> No recent activity</p>
            {% endif %}
            </div>
        </div>

{% endblock %}

